@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins&family=Roboto:wght@700&display=swap');

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
}

header {
  /* height: 755px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #3c3a39;
  padding: 10px 12px;
}

.logo {
  height: 30px;
  margin: 2% 2%;
}

nav {
  width: 90%;
  display: flex;
  flex-direction: column;
  position: absolute;
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo > a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.hidden {
  display: none;
  margin-top: 30px;
  width: 100%;
  flex-direction: column;
}

nav i {
  margin-top: 10px;
  text-align: end;
}

nav #x-icon {
  display: none;
}

.hidden .email-icon {
  display: none;
}

.hidden li {
  margin-top: 20px;
  padding: 10px;
  border-bottom: 1px solid #dfe1e6;
}

.hidden li > a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  background-color: #1c1a19;
  background-image: url("../images/Illustration.svg");
  z-index: 1;
  background-repeat: no-repeat;
  background-position: bottom right;
}

h1 {
  font-family: 'Crete-Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  color: #ff6b00;
  letter-spacing: 0.37px;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.icons {
  list-style: none;
  display: flex;
  gap: 5px;
  padding-left: 0;
  padding-bottom: 50px;
}

/* Work Section Start  */

.post-tags li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  padding: 5px;
  color: #091e42;
  border: 1px solid #000;
  width: 85px;
  height: 32px;
  text-align: center;
}

.post-tags-2 > li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  padding: 5px;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
  width: 85px;
  height: 32px;
  text-align: center;
}

/* Modal Start */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: nones;
  align-items: center;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal-container {
  width: 343px;
  height: 718px;
  margin: 20px;
  padding: 10px;
  background-color: white;
}

.modal-header {
  display: flex;
  flex-direction: row;
  width: 311px;
  height: 82px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.modal-header h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.modal-header span {
  font-size: 30px;
  cursor: pointer;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  width: 100%;
}

.modal-container ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.modal-container ul li {
  border: 1px solid #3c3a39;
  padding: 5px;
}

.modal-body .modal-img {
  margin-top: 30px;
  width: 321px;
  height: 220px;
  background-image: url('/images/screen-short-1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.modal-body p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.modal-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  gap: 10px;
}

.modal-buttons div {
  background-color: #ff6b00;
  padding: 10px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 10px;
}

.btn-live span {
  margin: 10px;
}

.btn-live:hover {
  background-color: #dfe1e6;
  border: 1px solid #ff6b00;
  color: #ff6b00;
  transition: 0.5s;
  border-radius: 5px;
}

.btn-source span {
  margin: 10px;
}

.btn-source:hover {
  background-color: #dfe1e6;
  border: 1px solid #ff6b00;
  color: #ff6b00;
  transition: 0.5s;
  border-radius: 5px;
}

.live-icon img {
  width: 15px;
  height: 15px;
}

/* Modal End */

/* Recent Work Section Start */

.recent-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
  gap: 40px;
  position: absolute;
  width: 375px;
  height: 3455px;
  left: 0;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 327px;
  height: 107px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.recent-frame-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recent-frame-1 > img {
  width: 327px;
  height: 237px;
}

.h-title {
  width: 327px;
  height: 83px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#h-line {
  width: 100%;
  height: 0;
  border: 1px solid #212121;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.feature-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 24px;
  gap: 24px;
  width: 375px;
  height: 568px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.post-description {
  width: 327px;
  height: 147px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.post-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 297px;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
  list-style: none;
}

.skill-1 > ul > li {
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.icons > li:hover {
  transition: 0.5s;
  width: 50px;
  height: 50px;
}

.post-btn-enable {
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  flex: none;
  order: 3;
  flex-grow: 0;
  color: #fff;
}

.post-btn-enable:hover {
  padding: 12px;
  border: 0.1em solid #ff6b00;
  border-radius: 5px;
  transition: 0.5s;
  gap: 10px;
  width: 124px;
  height: 48px;
  background: #fcfcfc;
  flex: none;
  order: 3;
  flex-grow: 0;
  color: #ff6b00;
}

.btn-text {
  width: 100px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.recent-frame-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  gap: 24px;
  width: 375px;
  height: 2436px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.card-work {
  width: 327px;
  height: 386px;
  flex: none;
  order: 0;
  flex-grow: 0;
  background-image: url(../images/img-placeholder-2.png);
}

.post-right-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 12px;
  width: 327px;
  height: 248px;
  left: calc(50% - 327px / 2);
  bottom: 62px;
}

.card-post-title {
  width: 295px;
  height: 81px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 80px;
}

.supporting-text {
  width: 295px;
  height: 87px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.post-tags-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 235px;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
  list-style: none;
}

.btn-action {
  width: 327px;
  height: 48px;
  left: 0;
  top: 0;
  margin-top: 100px;
  background: #ff6b00;
}

.post-btn-enable-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  position: absolute;
  width: 124px;
  height: 48px;
  left: calc(50% - 124px / 2);
  background: #ff6b00;
}

/* Work Section End */

/* About Section Start */

.rectangle {
  position: absolute;
  width: 375px;
  height: 1901px;
  left: 0;
  top: 4080px;
  background: #1c1a19;
}

.about-title {
  width: 327px;
  height: 79px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 24px;
  position: absolute;
  width: 375px;
  height: 563px;
  left: 0;
  background-image: url(../images/illustration-about-me-mobile.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  z-index: 5;
}

.about-description {
  width: 327px;
  height: 148px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.about-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 161px;
  text-decoration: none;
  height: 48px;
  background: #ff6b00;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.about-btn:hover {
  transition: 0.5s;
  background-color: #fff;
  border: 0.1em solid #ff6b00;
  border-radius: 5px;
  color: #ff6b00;
}

.about-btn-title {
  width: 137px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about-btn-title:hover {
  color: #ff6b00;
}

.divider {
  width: 327px;
  height: 17px;
  left: 24px;
  top: 4780px;
}

.vector-1 {
  position: absolute;
  height: 0;
  left: 20px;
  right: 20px;
  top: calc(30% - 0px / 2 + 0.5px);
  border: 1px solid #fff;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px;
  gap: 24px;
  position: absolute;
  width: 329px;
  justify-content: center;
  height: 1241.46px;
  left: calc(50% - 329px / 2);
  top: 581px;
}

.right-skill {
  margin-left: 50px;
}

.left-skill {
  margin-right: 50px;
}

.skill-1 > ul {
  color: white;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  margin-top: 28px;
}

.skill-frame-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: 225.46px;
  height: 41.46px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.img-title {
  width: 164px;
  height: 24px;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* About Section End */

/* Contact Form Start */
#maincontact {
  position: absolute;
  top: 5965px;
  background-color: #fff;
  display: grid;
}

.contact {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  text-align: center;
  color: #172b4d;
  height: 216px;
  margin-left: 24px;
  margin-right: 24px;
  padding-top: 120px;
  font-size: 20px;
  font-weight: 700;
}

/* Contact Form End */

.form-contact {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  align-items: center;
  gap: 24px;
  width: 327px;
  height: 330px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 130px;
}

#form-contact {
  padding-left: 24px;
  gap: 10px;
  list-style: none;
}

.form {
  display: flex;
  flex-direction: row;
  margin-left: 93px;
  margin-top: 10px;
  background-color: #ff6b00;
  padding: 12px 12px;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  border: none;
}

.form:hover {
  transition: 0.3s;
  background-color: #fff;
  color: #ff6b00;
  border: 0.1em solid #ff6b00;
}

.name {
  width: 327px;
  height: 48px;
  flex: none;
  font-size: 15px;
  order: 0;
  flex-grow: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: #dbd8d7;
  padding-left: 15px;
}

.name::placeholder {
  color: #979493;
}

.email {
  width: 327px;
  margin-top: 24px;
  height: 48px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 15px;
  border-color: #dbd8d7;
  padding-left: 15px;
}

.email::placeholder {
  color: #979493;
}

.txt-area {
  width: 327px;
  margin-top: 24px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  background: #fbf8f7;
  padding-left: 15px;
}

.txt-area::placeholder {
  color: #3c3a39;
  font-weight: 400;
}

.footer {
  position: absolute;
  width: 100%;
  height: 72px;
  top: 6738px;
}

#c-line {
  height: 1px;
  margin-top: 120px;
  align-items: center;
  margin-left: 0;
  color: white;
  background-color: #dfe1e6;
}

#s-icons {
  width: 331px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: absolute;
  margin-top: 38px;
  justify-content: center;
}

#s-icons > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

#s-icons > ul > li:hover {
  transition: 0.5s;
  width: 50px;
  height: 50px;
}

.l-line {
  margin-left: 0;
  margin-top: 73px;
}

small {
  color: red;
  text-align: left;
  font-size: 12px;
  display: none;
}

.display-content {
  display: block;
}

@media (min-width: 768px) {
  body {
    width: wider;
    height: 72px;
  }

  nav {
    color: #fff;
    display: flex;
    flex-direction: row;
  }

  .header {
    width: 1440px;
    height: 72px;
  }

  header {
    padding: 0;
  }

  .hidden .email-icon {
    display: block;
  }

  .fa {
    display: none;
  }

  .about > a {
    margin-left: 30px;
  }

  .hidden {
    width: 300px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin-top: 0;
    position: absolute;
    flex-direction: row;
    gap: 50px;
    right: 100px;
    top: calc(6% - 40px / 2);
  }

  .hidden li {
    border: none;
  }

  .hidden li a {
    width: 63px;
    height: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .content {
    display: grid;
    width: 100%;
    height: 870px;
    background-image: url("../images/header-img-2.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    z-index: 1;
  }

  .wrapper > h1 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    width: 566px;
    height: 160px;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
  }

  .wrapper > h4 {
    display: flex;
    width: 566px;
    height: 24px;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    align-items: center;
  }

  .wrapper > p {
    display: flex;
    width: 566px;
    height: 123px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    align-items: center;
    flex: none;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: absolute;
    width: 566px;
    height: 100%;
    left: 143px;
  }

  .wrapper-2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    margin-top: 89px;
    width: 18px;
  }

  .icons {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
  }

  .recent-work {
    padding: 130px 118px;
    width: 100%;
    height: 1805px;
  }

  .title {
    width: 100%;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .h-title {
    align-items: flex-start;
    height: 50px;
  }

  #h-line {
    display: flex;
    width: 70%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: #212121;
    background-color: #212121;
  }

  .recent-frame-1 {
    margin-top: 69px;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .post-img {
    width: 684px;
    height: 448px;
  }

  .post-details {
    display: flex;
    line-height: 0;
    height: 10px;
    flex-direction: column;
    gap: 24px;
  }

  .recent-frame-2 {
    display: grid;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 24px;
    width: 100%;
    height: 0;
    grid-template-columns: repeat(3, 1fr);
  }

  .card-work {
    padding: 0;
    margin: 0;
  }

  .media-card-1 {
    width: 327px;
    height: 386px;
    flex: none;
    order: 0;
    flex-grow: 0;
    background-image: url(../images/media-card-img-1.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  .media-card-2 {
    width: 327px;
    height: 386px;
    flex: none;
    order: 0;
    flex-grow: 0;
    background-image: url(../images/media-card-img-2.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  .media-card-3 {
    width: 327px;
    height: 386px;
    flex: none;
    order: 0;
    flex-grow: 0;
    background-image: url(../images/media-card-img-3.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  .media-card-4 {
    width: 327px;
    height: 386px;
    flex: none;
    order: 0;
    flex-grow: 0;
    background-image: url(../images/img-placeholder-2.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  .media-card-5 {
    width: 327px;
    height: 386px;
    flex: none;
    order: 0;
    flex-grow: 0;
    background-image: url(../images/media-card-img-2.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  .media-card-6 {
    width: 327px;
    height: 386px;
    flex: none;
    order: 0;
    flex-grow: 0;
    background-image: url(../images/media-card-img-3.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  .media-card-1:hover {
    transform: 0.3s;
    background-image: url(../images/media-card-img-1.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .card-work .btn-action {
    visibility: hidden;
  }

  .card-work:hover .btn-action {
    visibility: visible;
  }

  .card-work:hover .post-right-block {
    visibility: hidden;
  }

  .media-card-2:hover {
    transform: 0.3s;
    background-image: url(../images/media-card-img-2.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 5;
    cursor: pointer;
  }

  .media-card-3:hover {
    transform: 0.3s;
    background-image: url(../images/media-card-img-3.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    cursor: pointer;
  }

  .media-card-4:hover {
    transform: 0.3s;
    background-image: url(../images/media-card-img-1.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    cursor: pointer;
  }

  .media-card-5:hover {
    transform: 0.3s;
    background-image: url(../images/media-card-img-2.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    cursor: pointer;
  }

  .media-card-6:hover {
    transform: 0.3s;
    background-image: url(../images/media-card-img-3.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    cursor: pointer;
  }

  .post-btn-enable-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 10px;
    height: 48px;
    background: #ff6b00;
    position: unset;
    width: 320px;
  }

  .btn-text {
    width: 100px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .post-tags li:hover {
    background-color: #ff6b00;
    border: 0.1em solid #fff;
    color: #fff;
    transition: 0.5s;
    transition-property: all;
    cursor: pointer;
  }

  .rectangle {
    position: absolute;
    width: 100%;
    height: 1195px;
    left: 0;
    top: 2680px;
    background: #262626;
  }

  .about {
    width: 100%;
    height: 582px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    background-image: url(../images/frame-2.png);
    background-repeat: no-repeat;
    background-position: center right;
  }

  .about > h1 {
    margin-left: 30px;
  }

  .about > p {
    margin-left: 30px;
  }

  .divider {
    position: absolute;
    width: 1156px;
    height: 17px;
    left: 15px;
    top: 609px;
  }

  .skill {
    display: flex;
    width: 100%;
    flex-direction: row;
    top: 618px;
    height: 577px;
    gap: 141px;
    left: 0;
    align-items: unset;
  }

  .skill-1 > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-left: 5px;
  }

  .skill-frame-1 {
    display: flex;
    flex-direction: row;
  }

  .right-skill {
    margin-left: 0;
  }

  .skill-ul li:hover {
    padding: 10px;
    background-color: #eb8c51;
    transition: 1s;
    border-radius: 10rem;
  }

  #footer {
    display: grid;
    width: 100%;
    height: auto;
  }

  #maincontact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 590px;
    top: 3876px;
  }

  .contact {
    width: 400px;
    height: 256px;
    text-align: unset;
  }

  #form-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 684px;
    height: 330px;
  }

  .form {
    display: flex;
    margin-left: 0;
    gap: 24px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 72px;
    top: 4538px;
  }

  #c-line {
    width: 100%;
    height: 1px;
    align-items: center;
    color: rgb(14, 3, 3);
    margin-top: -40px;
  }

  #s-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    position: absolute;
    margin-top: 0;
  }

  .modal {
    display: block;
    width: 100%;
    top: 50%;
    left: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .modal-container {
    width: 92%;
    height: 92%;
    margin-left: 50px;
  }

  .modal-container ul {
    display: flex;
    flex-direction: row;
  }

  .modal-header {
    justify-content: space-between;
    width: 100%;
  }

  .modal-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
  }

  .modal-body .modal-img {
    width: 659px;
    height: 398px;
  }

  .modal-body .p-content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 424px;
    height: 416px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin: 20px;
    justify-content: space-between;
  }

  .p-content .modal-buttons {
    margin-bottom: 0;
    align-items: flex-start;
    text-align: start;
    justify-content: start;
  }

  #s-icons > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  .l-line {
    visibility: hidden;
  }

  small {
    color: #ff0e0e;
    text-align: left;
    font-size: 12px;
    display: none;
  }

  .display-content {
    display: block;
  }

  .form-btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
